doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/style.css')
    title Can we go on a date?
  body
    .containar
      img#yay1(src='/img/sampe.avif')
      p#yay Yay!
      // you can change the Text
      p#can Call, please??
      button#yes Yes
      button#no No
    script(src='/js/script.js')